{% extends "base.html" %}

{% load faq_utils %}

{% block title %}FAQ{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded">
         <h1>FAQs</h1>
         <p>Commonly asked questions and their answers. Don't forget to checkout the <span class="badge bg-light text-dark"><a href="{% url 'faq:resource-list' %}">resources</a></span>!</p>
    </div>

    <div class="row mt-3 p-3 text-center">
        {% if point_list %}
            {% for point in point_list %}
            {% load static %}
            <div class="card text-center border-info" style="width:33%;">
              <div class="card-body">
                <h4 class="card-title">{{ point.name }}</h4>
                <div class="float-start">
                    <p class="card-text">{{ point.description |safe }}</p> <br/>
                </div>
                <div class="float-end text-center"><span style='font-size:70px;'>&#{{ point.symbol }};</span></div>
                </div>
                <div class="card-footer bg-transparent border-info">
                    {% if point.tag == "planet" %}
                    <span class="badge bg-primary">{{ point.tag }}</span>
                    {% elif point.tag == "sign" %}
                    <span class="badge bg-info">{{ point.tag }}</span>
                    {% else %}
                    <span class="badge bg-success">{{ point.tag }}</span>
                    {% endif %}
                </div>

            </div>
            {% endfor %}
        {% else %}
            <p>No FAQs available.</p>
        {% endif %}
    </div>


</div>

{% endblock %}