{% extends "base.html" %}

{% load faq_utils %}

{% block title %}Resources{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1>Astro Resources</h1>
         <p>The best community agggregatted resources around</p>
    </div>
    <div class="row mt-3">
        {% if resource_list %}
            <ul class="list-unstyled">
            {% for resource in resource_list %}
                <li>
                {% if resource.image %}
                    <img class="img-thumbnail img-sm" src="{{ resource.image.url }}" alt="{{ resource.title }}"/>
                {% elif resource.image_url %}
                    <img class="img-thumbnail img-sm" src="{{ resource.image_url }}" alt="{{ resource.title }}"/>
                {% endif %}
                    <a href="{% url 'faq:resource-detail' resource.id %}">{{ resource.title }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No Resources available.</p>
        {% endif %}



    </div>
</div>

{% endblock %}