<div class="tabWrapper">
{% if horoscopes %}
<ul class="nav nav-tabs my-2 nav-justified" id="todaysHoroscope" role="tablist">
  {% for horoscope in horoscopes %}
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="{{ horoscope.sign }}-tab" data-bs-toggle="tab" data-bs-target="#{{ horoscope.sign }}" type="button" role="tab" aria-controls="{{ horoscope.sign }}" aria-selected="true">{{ horoscope.sign|upper }}</button>
  </li>
  {% endfor %}
</ul>
<div class="tab-content" id="todaysHoroscopeContent p-4">
  {% for horoscope in horoscopes %}
  <div class="tab-pane fade show p-2" id="{{ horoscope.sign }}" role="tabpanel" aria-labelledby="{{ horoscope.sign }}-tab">
      <p class="lead">{{ horoscope.description }}</p>
  </div>
  {% endfor %}

</div>
{% endif %}
</div>
