body {
    font-family: 'Josefin Sans', sans-serif;
}

/* General Page Structure and Layout */
#body-wrapper {
  position: relative;
  min-height: 100vh;
}

#content-wrapper {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}



/* Images */

img.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-sm {
  max-width: 150px;
}


/* Text */
p {
  font-size: 1rem;
}

.link-unstyled {
    text-decoration: none;
}


/* Lists */
.list-unstyled {
    list-style-type: none;
}


/* Background & Border Colors */
.bg-indigo {
    background-color: #6610f2;
}


.bg-pink {
    background-color:#d63384;
}


.bg-orange {
    background-color: #fd7e14;
}

.bg-yellow {
    background-color: #ffc107;
}

.bg-green {
    background-color: #198754;
}


.bg-teal {
    background-color: #20c997;
}

.bg-purple {
    background-color: #6f42c1;
}

.bg-cyan {
    background-color: #0dcaf0;
}


.bg-lightgreen {
    background-color: #3ec929;
}

.border-indigo {
    border-color: #6610f2;
}


.border-pink {
    border-color:#d63384;
}


.border-orange {
    border-color: #fd7e14;
}

.border-yellow {
    border-color: #ffc107;
}

.border-green {
    border-color: #198754;
}


.border-teal {
    border-color: #20c997;
}

.border-purple {
    border-color: #6f42c1;
}

.border-cyan {
    border-color: #0dcaf0;
}


.border-lightgreen {
    border-color: #3ec929;
}




#horoscopes {
    border: 1px solid #6610f2;
}

div#horoscopes {
    width: 70%;
}


iframe, object, embed {
    max-width: 100%;
}

.iframe-wrapper-cp {
    position: relative;
    width: 100%;
    padding-top: 66.66%;
}
.iframe-wrapper {
    position: relative;
    width: 100%;
    padding-top: 58.82%;
}
.iframe-content {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}





.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #6610f2;
}


.sub-col-md {
    max-width: 70%;
}