<!-- ASTRO-DATABANK BIRTHDAYS -->
<div id="22343ce6d3194fb3fc869bfb392de705-top">
<div align="center" style="width:200px;"><a href="https://www.astro.com" target="_blank" style="font:normal 11px Verdana, Geneva, sans-serif;color:#666;text-decoration:none;text-align:center;" id="22343ce6d3194fb3fc869bfb392de705">Free Horoscopes by Astrodienst</a></div>
<iframe frameborder="0" width="200" src="https://www.astro.com/h/awt/pfday_today_e.htm?code=22343ce6d3194fb3fc869bfb392de705" height="340" marginheight="15" marginwidth="5" style="border:1px dotted gray;margin-top:5px;"></iframe>
</div>
<!-- END ASTRO-DATABANK BIRTHDAYS -->