{% extends "base.html" %}

{% load symbol_tags %}

{% block title %}Polls{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="mt-4 p-5 bg-primary text-white rounded">
         <h1>Polls</h1>
         <p>What rules what? Vote, browse or create polls.</p>
    </div>
    <div class="row mt-3">
        {% if latest_question_list %}
            <ul class="list-unstyled">
            {% for question in latest_question_list %}
                <li><a href="{% url 'polls:poll-detail' question.id %}" class="link-unstyled"><h5>{{ question.question_text }}</h5></a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </div>
</div>

{% endblock %}